.flipbook-viewport{
	height:100%;
	width: 100%;
	padding: 0px 0 50px 0;
}

.flipbook-viewport .container{
	
}

.flipbook-viewport .flipbook{
	/*width:922px;
	height:600px;
	left:-461px;
	top:-300px;*/
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.book-details {
    float: left;
    width: 100%;
}

.book-title {
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.book-author {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 25px;
}

.book-description {
    float: left;
    width: 50%;
    align-content: center;
    padding-top: 15px;
}

.book-thumb {
    width: 50%;
    float: left;
    text-align: center;
}

.flip-books{
	float: left;
	width: 100%;
}

/*Image Hover Effect*/

.flip-book {
    position:relative;
    width:300px;
    height:400px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.flip-book p,.flip-book h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.flip-book p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.flip-book h2 {
    font-size:22px;
    line-height:24px;
    margin:0;
}

.flip-book li{
	list-style: none;
}

.flip-book a{
	color: #000;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}